<!DOCTYPE html>
<html>
    <head>
      	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'schools/materialize.css' %}" />
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    	<nav class="grey darken-3">
    		<div class="nav-wrapper container">
    			<a href="/schools/" class="brand-logo">School Database System</a>
    			<ul id="nav-mobile" class="right hide-on-med-and-down">
        			<li><a href="/schools/addMember/">Add Member</a></li>
        			<li><a href="/schools/addSchool/">Add School</a></li>
      			</ul>
    		</div>
		</nav>
		<div class="container">
			<form action="/schools/addSchool/" method="post">
    			{% csrf_token %}
    			{{ form }}
    			<input class="btn waves-effect waves-light" type="submit" value="Submit" />
			</form>
		</div>
    	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    	<script type="text/javascript" src="{% static 'schools/materialize.js' %}"></script>
    </body>
</html>